.general_title{
    font-size: 21px;
    color: #069;
    text-shadow: #959595 1px 1px 1px;
}
.respuesta{
    font-size: 13px;
}
.respuesta .to{
    color: #069;
}
a{
    text-decoration: none;
    outline: none;
    color: #069;
}
.breadcrumbs{
    font-size: 14px;
    margin-top: 35px;
    float: left;
}
.breadcrumbs a{
    text-shadow: #959595 1px 1px 1px;
}
.breadcrumbs a:hover{
    color: #089;    
}
.clean{
    clear: both;
}
a.new{
    font-size: 13px;
    text-shadow: #6374AB 1px 1px 2px;
}
.new img{    
    margin-bottom: -15px;
}
a.new:hover{
    color: #089;
}
.controls{
    float: right;
    margin-top: 12px;
    margin-bottom: 18px;
}
.forum-avatar{
    padding: 2px;
    border: 1px solid #dedede;
}
th.azul{
    color: #FFFFFF;
    font-size: 1.0em;
    font-weight: bold;
    background: url('/files/img/forum/cellpic3.gif') top repeat-x #507ca6;
    white-space: nowrap;
    padding: 7px 5px;
    text-transform:uppercase;
}

th {
    padding: 7px 5px;
    font-weight: normal;
}

.forum-cat {
    color:#FFFFFF;
    height: 28px;
    border: 0;
    background: #FF9221 url('/files/img/forum/cellpic1-orange.gif') top repeat-x;
    font-size: 14px;
}

.forum-cat a{
    color: #000;
    margin-left: 10px;
    text-shadow: #fff 0.1em 0.1em 0.2em;
}

table{
    font-size: 11px;
    background: #b9cadb;
}
.errorlist{
    padding: 0;
    color: red;
}
.row1 {    
    background-color: #f5f5f5;
    padding: 4px;
}

.row2 {
    background-color: #e7ebf0;
    padding: 3px;
}

.row2.last-post{
    font-size:1.2em;
}

.row3 {
    background-color: #C0C8D0;
    padding: 3px;
}

p.topicauthor {
    margin: 1px 0;
}

p.topicdetails {
    margin: 1px 0;
}
p.topicdetailsx {
    margin: 1px 0;
    font-size: .9em !important;
    text-align:left;
}
a.forumlink {
    color: #069;
    font-weight: bold;
    font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 1.2em;
}
.postbody {
    font-size: 1.2em;
    line-height: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
}

.postbody li, ol, ul {
    margin: 0 0 0 1.5em;
}

.postbody p{
    padding: 0;
    margin: 0;
}

