{% extends "base.html" %}
{%block extra_header%}
<script type="text/javascript" src="/files/js/highcharts.js"></script>
<script type="text/javascript" src="/files/js/exporting_patched.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        var ancho1 = $('.dato_grafos1').width();
        $('.dato_grafos2').width($('#contenido_full').width()-ancho1);
        $('.dato_grafos1').width(ancho1);
        var chart =  Highcharts.Chart({
            chart: {
                renderTo: 'grafohs',
                defaultSeriesType: 'scatter',
                marginRight: 130,
                marginBottom: 25,
                height: 360,
                width: 950,
            },
            title: {
                text: "{{titulo}}",
                x: -20 //center
            },
            xAxis: {
                categories: [ {%for mes in tiempos%}"{{mes}}",{%endfor%}]
            },
            yAxis: {
                min: 0,
                title: {
                    text: ''
                },
                plotLines: [{
                        value: 0,
                        width: 1,
                        color: '#808080'
                    }]
            },
            tooltip: {
                formatter: function() {
                    return '<b>'+ this.series.name +'</b><br/>'+
                        this.x +': '+ this.y;
                }
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'top',
                x: 10,
                y: 100,
                borderWidth: 0
            },
            series: [
                {% for dato in filas%} {data: {{dato.valores}}, name: "{{dato.leyenda}}" }, {%endfor%}
            ]
        });
    });
</script>
{% endblock %}
{% block menu %}  
{% if request.session.activa%}
<a href="/precio/grafo/productor/"> Precio al productor</a>
<a href="/precio/grafo/consumidor/"> Precio al consumidor</a>
{%endif%}
{% endblock %}

{% block contenido %}
<br>
<div id="encabezado_contenido">
    {% if tipo == 'precipitacion'%}
    DATOS DE PRECIPITACION
    {%endif%}
    {% if tipo == 'temperatura'%}
    DATOS DE TEMPERATURA
    {%endif%}
</div>
<div id="contenido_full">
    <div class="controles">
        <a href="/clima/clima/temperatura" {% if tipo == 'temperatura'%}class="state_selected"{%endif%} >Temperatura</a>
        <a href="/clima/clima/precipitacion" {% if tipo == 'precipitacion'%}class="state_selected"{%endif%}>Precipitación</a>
        <a href="/clima/clima/humedad" {% if tipo == 'humedad'%}class="state_selected"{%endif%}>Humedad Relativa</a>
        <a href="/clima/humedad/">Humedad de suelo</a>
    </div>
    <br>
    <div>{{titulo}}</div>
    <div class="tablas">
        <div class="dato_grafos1">
            <table class="grafo">
                <thead>
                    <tr>
                        <th>Semanas</th>
                    </tr>
                </thead>
                <tbody>
                    {% for fila in filas %}
                    <tr class="{% cycle  '' 'odd' %}">
                        <td>{{fila.leyenda}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="dato_grafos2">
            <table class="grafo">
                <thead>
                    <tr>
                        {%for tiempo in tiempos%}
                        <th scope="col">{{tiempo}}</th>
                        {%endfor%}
                    </tr>
                </thead>
                <tbody>
                    {% for fila in filas%}
                    <tr class="{% cycle  '' 'odd' %}">
                        {%for valor in fila.valores%}
                        {%if valor%}
                        <td>{{valor}}</td>
                        {%else%}
                        <td>0</td>
                        {%endif%}
                        {%endfor%}
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
        <br>
        <div class="clean"></div>
    </div>
    <div id="grafohs"></div>
</div>
{% endblock %}
