{% extends "base.html" %}
{%load unslugify %}
{%block extra_header%}
<script type="text/javascript" src="/files/js/highcharts.js"></script>
<script type="text/javascript" src="/files/js/exporting_patched.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        var ancho1 = $('.dato_grafos1').width();
        $('.dato_grafos2').width($('#contenido_full').width()-ancho1);
        $('.dato_grafos1').width(ancho1);
        var chart =  Highcharts.Chart({
            chart: {
             renderTo: 'grafohs',
             defaultSeriesType: 'line',
             marginRight: 130,
             marginBottom: 25,
             height: 500,
             width: 950,
            },
            title: {
             text: "{{titulo}}",
             x: -20 //center
            },
            xAxis: {
             categories: [ {%for mes in tiempos%}"{{mes}}",{%endfor%}]
            },
            yAxis: {
             min: 0,
             title: {
              text: ''
             },
             plotLines: [{
              value: 0,
              width: 1,
              color: '#808080'
             }]
            },
            tooltip: {
             formatter: function() {
                   return '<b>'+ this.series.name +'</b><br/>'+
                 this.x +': '+ this.y;
             }
            },
            legend: {
             layout: 'vertical',
             align: 'right',
             verticalAlign: 'top',
             x: 10,
             y: 100,
             borderWidth: 0
            },
           series: [
              {% for dato in tabla%} {data: {{dato.valores}}, name: "{{dato.leyenda}}" }, {%endfor%}
            ]
           });
    });
</script>
{% endblock %}
{% block menu %}
{% if request.session.activa%}
<a href="/clima/humedad/">Humedad</a>

{%endif%}
{% endblock %}

{% block contenido %}
<br>
<div id="encabezado_contenido">DATOS DE HUMEDAD</div>
<div id="contenido_full">
        <div class="controles">
            <a href="/clima/clima/temperatura"  >Temperatura</a>
            <a href="/clima/clima/precipitacion">Precipitación</a>
            <a href="/clima/clima/humedad">Humedad Relativa</a>
            <a href="/clima/humedad/"class="state_selected">Humedad</a>
        </div>
        <br>
<table class="grafo" style ="width:940px !important;">
	<thead>
		<tr>
			<td></td>
      {%for columna in columnas%}
      <th scope="col">{{columna}}</th>
      {%endfor%}
		</tr>
	</thead>
	<tbody>
      {%for fila in tabla%}	
    <tr class="{%cycle  '' 'odd'%}">            
         <th scope="row">{{fila.leyenda}}</th>
         {%for valor in fila.valores%}
         <td >{{valor}}</td>
         {%endfor%}
    </tr>
    {%endfor%}
   </tbody>
</table>
<div id="grafohs"></div>
</div>
{% endblock %}
