{% extends "base.html" %}
{%load unslugify %}
{%block extra_header%}
{% endblock %}
{% block menu %}
{% if request.session.activa%}
<a href="/clima/humedad/">Humedad</a>

{%endif%}
{% endblock %}

{% block contenido %}
<br>
<div id="encabezado_contenido">DATOS DE HUMEDAD</div>
<div id="contenido_full">
        <div class="controles">
            <a href="/clima/clima/temperatura"  >Temperatura</a>
            <a href="/clima/clima/precipitacion">Precipitación</a>
            <a href="/clima/humedad/"class="state_selected">Humedad</a>
        </div>
        <br>
<table class="grafo">
	<thead>
		<tr>
			<td></td>
      {%for columna in columnas%}
      <th scope="col">{{columna}}</th>
      {%endfor%}
		</tr>
	</thead>
	<tbody>
      {%for fila in tabla%}	
    <tr class="{%cycle  '' 'odd'%}">            
         <th scope="row">{{fila.leyenda}}</th>
         {%for valor in fila.valores%}
         <td >{{valor}}</td>
         {%endfor%}
    </tr>
    {%endfor%}
   </tbody>
</table>
<img src="{{url}}"/>
</div>
{% endblock %}
