{% extends "base.html" %}
{%load unslugify %}
{%block extra_header%}
{% endblock %}
{% block menu %}
{% if request.session.activa%}
<a href="/clima/humedad/">Humedad</a>

{%endif%}
{% endblock %}

{% block contenido %}
<table id="grafo">
	<caption>Húmedad</caption>
	<thead>
		<tr>
			<td></td>
			<th scope="col">Humedad</th>
		</tr>
	</thead>
	<tbody>
      {%for fila in tabla%}	
    <tr>            
         <th scope="row">{{fila.leyenda}}</th>
         {%for valor in fila.valores%}
         <td>{{valor}}</td>
         {%endfor%}
    </tr>
    {%endfor%}
   </tbody>
</table>
<img src="{{url}}"/>
{% endblock %}
