{% extends "base.html" %}
{% block extra_header %}
{% endblock %}
{% block contenido %}
<div id="sidebar">
    <div class="titulo">Buscar </div>
        <form action="" method="get">
            <div>
                 <input id ="busqueda-foro"type="text" name="q" id="busqueda" value=""/>
            </div>
        </form>
    <br>
    <div class="titulo">Temas</div>
    <div id="listatags">
        <a href="#">Tag1</a> x 30<br><br>
        <a href="#">Tag1</a> x 30<br><br>
        <a href="#">Tag1</a> x 30<br><br>
    </div>
</div>
<div id="contenido">
    <div id="encabezado_contenido">Foro de Discuciones <div style="float:right; margin-right:5px;">{{num_preguntas}} Discuciones</div></div>
    <div id="barra_foro">
        <a href=""><img src="/files/img/discucion.png" >Discuciones destacadas</a>
        <a href=""><img src="/files/img/ultimas.png" >Ultimas discuciones</a>
        <a href="./questions/ask/" style="float:right;width:120px"><img src="/files/img/add.png" >Crear un foro</a>
    </div>
    <div class="question_list">
        {% for question in questions %}
        <div class="question">
            <div class="left">
                <div class="num_respuestas">{{question.answer_set.all.count}}</div>
                <div class="respuestas">
                RESPUESTAS
                </div>
            </div>
            <div class="left">
                <div class="num_clicks">{{question.views}}</div>
                <div class="clicks">VISTAS</div> 
            </div>
            <a href="./questions/{{question.id}}/" title="{{question.question}}">{{question.question}}</a>
            <br>
            <div class="tags">{% for tag in question.get_tags %}<a href="">{{tag.name}}</a>{% endfor %}</div>
            <div class="clean"></div>
            <div class="publicadop">Publicado por: <a href="">{{question.user}}</a> hace {{question.date_created|timesince}}</div>
            <div class="clean"></div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
