{% extends "base.html" %}
{%block extra_header%}
<script type="text/javascript" src="/files/js/jquery.nivo.slider.pack.js"></script>
<script type='text/javascript'>
  $(document).ready(function(){
    //consumidor a pata
    $.getJSON('/precio/ajax/consumidor/', function(data){
                $("#grafico").html('');
                $("#grafico").html("<img src='" + data.url +"'/>");
            });
    $('.controles a').click(function (){
        var titulo = $(this).attr('id');
        if(titulo=='humedad' || titulo=='temperatura' || titulo == 'precipitacion'){
            $.getJSON('/clima/ajax/' + titulo + '/', function(data){
                $("#grafico").html('');
                $("#grafico").html("<img src='" + data.url +"'/>");
            });
        }else if(titulo=='productor' || titulo=='consumidor'){
            $.getJSON('/precio/ajax/' + titulo + '/', function(data){
                $("#grafico").html('');
                $("#grafico").html("<img src='" + data.url +"'/>");
            });    
        }
        $('.state_selected').removeClass('state_selected');
        $(this).addClass('state_selected');        
        return false;
    });
  });  
</script>
{%endblock%}
{% block contenido %}
<div class="banner">
    <div class="left">
        <div class="banner_content">
        {% for texto in inicio %}
            <span style="font-weight: bold;">{{texto.titulo}}</span> <br>{{texto.texto|truncatewords:111}}
        {% endfor %}
        </div>
        <a class="leer-mas" href="/bioversity/textos/" rel="facebox"></a><a class="mapas" href="/bioversity/mapa/"></a>
    </div>
    <div class="right">
        <div id="slider" style="min-width: 328px !important; min-height: 213px !important;">
            {% for noticia in lista %}
            <a href="/noticias/ver/{{noticia.id}}">
                {% for galeria in  noticia.adjunto.all %}
                <img alt="{{galeria.nombre}}" src="{{galeria.adjunto.url_328x213}}" title="<a href='/noticias/ver/{{noticia.id}}'>{{galeria.nombre}}</a>">
                {% endfor %}
            </a>
            {% endfor %}                        
        </div>        
    </div>
    <div class="clean"></div>
</div>
<div class="buttons">
    <a href="/precio/">
    <div class="big price" id="boton-precio">
        <div class="b_info">
            <span class="b_title">Precio</span><br>
            Precios de bananas
            en puntos de control
        </div>
    </div>
    </a>
    <a href="/clima/">
    <div class="big clima" id="boton-clima">
        <div class="b_info">
            <span class="b_title">Clima</span><br>
            Precipitaciones,
            temperatura y humedad
            de suelo de puntos
            de control
        </div>
    </div>
    </a>
    <a href="/documentos/">
    <div class="big docs" id="boton-documentos">
        <div class="b_info">
            <span class="b_title">Documentos</span><br>
            Documentos de descarga<br>del programa
        </div>
    </div>
    </a>
    <div class="clean"></div>
</div>
<div>
    <p class="graphs">GR&Aacute;FICOS</p>
    <div class="graficos">
        <div class="controles">
            <a href="#" id="consumidor" class="state_selected">Precios al consumidor </a>
            <a href="#" id="productor">Precios al productor</a>
            <a href="#" id="temperatura">Temperatura promedio</a>
            <a href="#" id="precipitacion">Precipitación promedio</a>
            <a href="#" id="humedad">Humedad Promedio</a>
        </div>
        <div class="clean"></div>
        <div id="grafico" class="grafico">
        </div>
        <div class="clean"></div><br>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        $('#slider').nivoSlider({
            effect:'random', //Specify sets like: 'fold,fade,sliceDown'
            slices:8,
            animSpeed:1000, //Slide transition speed
            pauseTime:3000,
            startSlide:0, //Set starting Slide (0 index)
            directionNav:true, //Next & Prev
            directionNavHide:false, //Only show on hover
            controlNav:false, //1,2,3...
            keyboardNav:true, //Use left & right arrows
            pauseOnHover:true, //Stop animation while hovering
            manualAdvance:false //Force manual transitions
        });
    });
</script>
{% endblock %}
