{% extends "base.html" %}
{%block extra_header%}
<script type="text/javascript" src="/files/js/jquery.nivo.slider.pack.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $("#boton-documentos").click(function () {
            window.location = '/documentos/';
        });
        $("#boton-precio").click(function () {
            window.location = '/precio/';
        });
        $("#boton-clima").click(function () {
            window.location = '/clima/';
        });
    });
</script>
{%endblock%}
{% block contenido %}
<div class="banner">
    <div class="left">
        <div class="banner_content">
            <span style="font-weight: bold;">EL PROGRAMA</span> Nascetur elit, phasellus hac ultrices, mattis proin adipiscing elementum porttitor lorem dis vel porttitor! Risus nunc nisi! Diam, a odio magnis eros dictumst, tristique! Dolor nunc etiam? Aliquam! In cras, ut nunc amet, ac in vut urna enim massa dapibus mattis odio proin eu mus, dolor ut placerat, aenean tincidunt habitasse scelerisque lorem duis lectus magna et parturient in nisi? Turpis arcu dis et nec, in proin nunc sed mattis rhoncus tincidunt, pid vut nunc nisi, porta rhoncus, eros porta aenean mid lectus rhoncus augue, turpis dolor! Sed. Porttitor odio non risus aliquam tristique eu, turpis a nisi aenean porttitor, montes parturient mid, sagittis magnis ultrices. Est turpis, tincidunt augue augue velit, placerat, turpis! Augue odio dictumst aliquam purus, penatibus.
        </div>
        <a class="leer-mas" href="/info/"></a><a class="mapas" href="/mapas/"></a>
    </div>
    <div class="right">
        <div id="slider" style="min-width: 328px !important; min-height: 213px !important;">
            {% for noticia in lista %}
            <a href="/noticias/ver/{{noticia.id}}">
                {% for galeria in  noticia.adjunto.all %}
                <img alt="{{galeria.nombre}}" src="{{galeria.adjunto.url_328x213}}" title="<a href='/noticias/ver/{{noticia.id}}'>{{galeria.nombre}}</a>">
                {% endfor %}
            </a>
            {% endfor %}                        
        </div>        
    </div>
    <div class="clean"></div>
</div>

<div class="buttons">
    <div class="big price" id="boton-precio">
        <div class="b_info">
            <span class="b_title">Precio</span><br>
            Precios de bananas
            en puntos de control
        </div>
    </div>
    <div class="big clima" id="boton-clima">
        <div class="b_info">
            <span class="b_title">Clima</span><br>
            Precipitaciones,
            temperatura y humedad
            de suelo de puntos
            de control
        </div>
    </div>
    <div class="big docs" id="boton-documentos">
        <div class="b_info">
            <span class="b_title">Documentos</span><br>
            Documentos de descarga<br>del programa
        </div>
    </div>
    <div class="clean"></div>
</div>
<div>
    <p class="graphs">GR&Aacute;FICOS</p>
    <div class="graficos">
        <div class="selectores">
            <a href="#" class="selector">Precios por punto de control</a>
            <a href="#" class="selector">Precios por punto de control</a>
            <a href="#" class="selector activo">Precios por punto de control</a>
            <a href="#" class="selector">Precios por punto de control</a>
            <a href="#" class="selector">Precios por punto de control</a>
        </div>
        <div class="grafico">
            <img src="/files/img/grafico-muestra.png" alt="grafico muestra">
        </div>
        <div class="clean"></div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        $('#slider').nivoSlider({
            effect:'random', //Specify sets like: 'fold,fade,sliceDown'
            slices:8,
            animSpeed:1000, //Slide transition speed
            pauseTime:3000,
            startSlide:0, //Set starting Slide (0 index)
            directionNav:true, //Next & Prev
            directionNavHide:false, //Only show on hover
            controlNav:false, //1,2,3...
            keyboardNav:true, //Use left & right arrows
            pauseOnHover:true, //Stop animation while hovering
            manualAdvance:false //Force manual transitions
        });
    });
</script>
{% endblock %}
