{% extends "base.html" %}
{%block extra_header%}
<script type="text/javascript">
    $(document).ready(function(){
        $("#boton-documentos").click(function () {
            window.location = '/documentos/';
        });
    });
</script>
{%endblock%}
{% block contenido %}
<div class="banner">
    <div class="left">
        <div class="banner_content">
            <span style="font-weight: bold;">EL PROGRAMA</span> Nascetur elit, phasellus hac ultrices, mattis proin adipiscing elementum porttitor lorem dis vel porttitor! Risus nunc nisi! Diam, a odio magnis eros dictumst, tristique! Dolor nunc etiam? Aliquam! In cras, ut nunc amet, ac in vut urna enim massa dapibus mattis odio proin eu mus, dolor ut placerat, aenean tincidunt habitasse scelerisque lorem duis lectus magna et parturient in nisi? Turpis arcu dis et nec, in proin nunc sed mattis rhoncus tincidunt, pid vut nunc nisi, porta rhoncus, eros porta aenean mid lectus rhoncus augue, turpis dolor! Sed. Porttitor odio non risus aliquam tristique eu, turpis a nisi aenean porttitor, montes parturient mid, sagittis magnis ultrices. Est turpis, tincidunt augue augue velit, placerat, turpis! Augue odio dictumst aliquam purus, penatibus.
        </div>
        <a class="leer-mas" href="/info/"></a><a class="mapas" href="/mapas/"></a>
    </div>
    <div class="right">
        <img width="328" height="170" src="/files/img/foto.jpg" alt="foto">
        <div class="controls">
            <a href="#" class="atras"></a>
            <div class="descrip">
                <div class="text">Precios aumentan en Nicaragua, zona Jinotega y Matagalpa </div>
            </div>
            <a href="#" class="adelante"></a>
        </div>
    </div>
    <div class="clean"></div>
</div>

<div class="buttons">
    <div class="big price">
        <div class="b_info">
            <span class="b_title">Precio</span><br>
            Precios de bananas
            en puntos de control
        </div>
    </div>
    <div class="big clima">
        <div class="b_info">
            <span class="b_title">Clima</span><br>
            Precipitaciones,
            temperatura y humedad
            de suelo de puntos
            de control
        </div>
    </div>
    <div class="big docs" id="boton-documentos">
        <div class="b_info">
            <span class="b_title">Documentos</span><br>
            Documentos de descarga<br>del programa
        </div>
    </div>
    <div class="clean"></div>
</div>
<div>
    <p class="graphs">GR&Aacute;FICOS</p>
    <div class="graficos">
        <div class="selectores">
            <a href="#" class="selector">Precios por punto de control</a>
            <a href="#" class="selector">Precios por punto de control</a>
            <a href="#" class="selector activo">Precios por punto de control</a>
            <a href="#" class="selector">Precios por punto de control</a>
            <a href="#" class="selector">Precios por punto de control</a>
        </div>
        <div class="grafico">
            <img src="/files/img/grafico-muestra.png" alt="grafico muestra">
        </div>
        <div class="clean"></div>
    </div>
</div>
{% endblock %}
