{%extends "base.html"%}
{% block extra_header %}
<script type='text/javascript'>
$(document).ready(function(){
	$('#id_models_0').parent().parent().parent().parent().parent().css('display', 'none');
  $(".detalle_doc_sec").hide();
});
function mostrar(id){
    $(".detalle_doc_sec").hide();
    $("#"+id).show();
}
</script>
{% endblock %}

{%block contenido%}
<div id="sidebar">
    <div class="titulo">Directorio</div>
    <div id="listacarpetas">
        {%for categoria in categorias %}
        <a href="/documentos/categoria/{{categoria.id}}">
            {{categoria.nombre}}<br>
            <span style="color:#565656">{{categoria.conteo}} archivos</span>
        </a>
        {%endfor%}
    </div>
</div>
<div id="contenido">
<div id="encabezado_contenido">Biblioteca de documentos</div>
    <div id="barra_busqueda">
        <form action="/busqueda/" method="get">
            <div>
                <label>Buscar por Palabra Clave</label>
                <input type="text" name="q" id="busqueda" value=""/>
            </div>
        </form>
    </div>  

        {% if query %}
        <div id="titulo_categoria" class="centro">resultados</div><br>

            {% for result in page.object_list %}
         <div class="archivo_lista">
          <a href="#">
          <div class="detalle_doc_prin" onClick="mostrar('{{result.object.id}}');">
                <img src="/files/img/archivo.png" align="left">
                <div class="nombre_archivo">{{result.object.titulo}}</div>
                <div class="tag_archivo">{{result.object.palabra_clave}}</div>
                <div class="cuenta_archivo">{{result.object.archivos_cuenta}} Adjuntos</div>

            </div></a>
        <div class="detalle_doc_sec" id="{{result.object.id}}">
            <div class="resumen_archivo">
                {{result.object.resumen}}
            </div>
            {%for adjunto in result.object.adjuntos%}
            <div class="adjunto_archivo">
                <img src="/files/img/{{adjunto.tipo}}.png">
                {{adjunto.adjunto}}
                <a href="/files/{{adjunto.adjunto}}"><img style="float:right" src="/files/img/descargar_doc.jpg"></a>
            </div>
            {%endfor%}
        </div>
           </div>
                
            {% empty %}
                <p>No hay resultados</p>
            {% endfor %}

            {% if page.has_previous or page.has_next %}
                <div>
                    {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Anterior{% if page.has_previous %}</a>{% endif %}
                    |
                    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Siguiente &raquo;{% if page.has_next %}</a>{% endif %}
                </div>
            {% endif %}
        {% else %}
            {# Show some example queries to run, maybe query syntax, something else? #}
        {% endif %}   
</div>
    {%endblock %}
