body {
    margin: 0;
    padding: 0;
    background: #eae7c7 url(/files/img/body-back.png) top repeat-x;
    font-family: Ubuntu, sans-serif;
}
#wrapper{
    width: 960px;
    margin: 0 auto;    
}
.clean{
    clear: both;
}
img{
    outline: none;
    border: none;
}
a{
    outline: none;
}
.centro{
  margin: 0pt auto;
  padding:0pt;
 }
.header{
    height: 114px;    
}
.header .logo{
    width: 90px;
    height: 80px;
    float: left;
    padding: 13px 20px;    
}
.header .pagetitle{
    float: left;    
    margin-top: 13px;
    width: 268px;
}
.header .nav{
    float: left;
}
.header .nav .menu{
    float: right;
    margin-top: 62px;    
}
.header .nav .menu ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.header .nav .menu ul li{
    display: inline-block;
    height: 32px;        
}
.header .nav .menu ul li:hover{
    background: url(/files/img/menu-bg.png) bottom repeat-x;
}
.selecto{
    background: url(/files/img/menu-bg.png) bottom repeat-x;    
}
.header .nav .menu ul li a{
    color: #151515;
    font-size: 17px;
    text-decoration: none;
    display: block;
    padding-bottom: 11px;
}
.header .nav .menu ul li a:hover{
    color: #2d6311;
}
.header .login{
    margin-left: 430px;
}

/*agregado por byron */

#sidebar{
    background:#d3cfa9;
    width:250px;
    float:left;
    margin-top:5px;
    
}

#sidebar .titulo{
    font-size:20px;
    color:#000;
    font-weight:normal;
    background: url(/files/img/h1sidebar.jpg) repeat-x;
    height:48px;
    padding-top:10px;
    padding-left:10px;
}

#sidebar a, #sidebar a:visited{
    padding-left:45px;
    display:block;
    font-size:11px;
    margin-bottom:10px;
    height:40px;
    background: url(/files/img/carpetadocumento.png) no-repeat;
    background-position:center left;
    color:#000;
}

#sidebar a:hover{
    border-left:#a5a28a 4px solid;
}

#sidebar p{
    font-size:12px;
    font-weight:normal;
    padding-left:10px;
    padding-right:10px;
    color:#574F4A;
}

#contenido{
    float:left;
    background:#fff;
    margin-top:5px;
    margin-left:5px;
    width:695px;
}

#contenido_full{
    background:#fff;
    padding:10px;
    width:940px;
}

#encabezado_contenido{
    border-top:#90beb8 10px solid;
    border-bottom:#90beb8 1px solid;
    font-size:24px;
    color:#6c6c6c;
    padding-left:5px;
    height:35px;
    background:#fff;
}

#barra_eventos{
    background:#f8fbfa;
    font-size:14px;
    color:#000;
    padding-left:5px;
    height:40px;
    padding-top:4px;
}

#barra_eventos a, #barra_eventos a:visited{
    font-size:12px;
    color:#666666;
    display:block;
    width:65px;
    padding-left:40px;
    float:left;
    padding-bottom:6px;
}

#barra_eventos a:hover{
    border-bottom:#d8e9e3 3px solid;
}

.lista_boton{ 
    background:url(/files/img/lista.png) no-repeat;
}

.calendario_boton{ 
    background:url(/files/img/calendario.png) no-repeat;
}
#barra_busqueda{
    background:#f8fbfa;
    font-size:14px;
    color:#000;
    padding-left:5px;
    height:29px;
    padding-top:4px;
}

#barra_busqueda #busqueda{
    border:#dfdfdf 1px solid;
    width:250px;
    background: url(/files/img/fondobusqueda.png) repeat-x;
}
/*agregado por byron para las noticias*/

.noticia{

    border-bottom:#e4e8e7 1px solid;
    margin-top:8px;
    padding-bottom:5px;
}

.noticia-meta{
    float:left;
    width:58px;
    border-right:#888888 1px solid;
    font-size:11px;
    height:250px;
    color:#333333;
    padding:5px;
}

.noticia-content{
    float:left;
    width:356px;
    padding:5px;
    font-size:12px;
    color:#333333;
}

.noticia-titulo a, .noticia-titulo a:visited{
    color:#3b8118;
    font-size:17px;
    text-decoration:none;
    margin-bottom:8px;
    font-weight:bold;
}

.noticia-titulo a:hover{
    color:#2F571B;
}

.noticia-seguir a, .noticia-seguir a:visited{
    color:#fff;
    font-size:11px;
    text-decoration:none;
    background:url(/files/img/seguir_leyendo.png);
    background-position:left top;
    height:16px;
    display:block;
    width:100px;
    padding:2px;
    text-align:center;
    font-weight:bold;
}

.noticia-seguir a:hover{
    background:url(/files/img/seguir_leyendo.png);
    background-position:left bottom;
}

.noticia-thumb{
    float:right;
    width:250px;
    height:260px;
}

.item-noticia a{
    display:block !important;
    background:none !important;
    height:20px !important;
    padding:5px !important;
}

/*agregado por byron para la biblioteca*/

#titulo_categoria{
    padding:5px;
    background:#D2D1AC;
    border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    width:250px;
    text-align:center;
    margin-top:5px;
    color:#595856;
}

.detalle_doc_prin{
    height:42px;
    border-bottom:#e6f1ed 1px solid;
    padding-top:8px;
    padding-left:5px;
}

.detalle_doc_prin:hover{
    background:#E9F7FA;
}

.cuenta_archivo{
    font-size:11px;
    color:#5d5d5d;
}

.tag_archivo{
    padding:2px;
    background:#ebebeb;
    width:100px;
    float:right;
    font-size:11px;
}

.nombre_archivo{
    font-size:12px;
    color:#000;
}

.detalle_doc_sec{
    background:#fdfcc3;
    font-size:12px;
    color:#424242;

}

.resumen_archivo{
    border-bottom:#d3cfa9 1px solid;
    padding:5px;
}

.adjunto_archivo{
    border-bottom:#d3cfa9 1px solid;
    padding:5px;
}

.adjunto_archivo a:hover img{
    -moz-box-shadow: 0px 0px 3px #757575;
    -webkit-box-shadow: 0px 0px 3px #757575;
}

/*agregado por byron para los eventos*/

#calendar{

}

.footer{
    color: #7d7361;
    font-size: 12px;
    margin-bottom: 15px;
}
.footer .logo-footer{
    float: right;
}
.footer .creditos{
    float: right;
    text-align: right;
    margin-right: 5px;
    margin-top: 10px;
    margin-left: 10px;
}
.footer .creditos a{
    color: #7d7361;
    font-weight: bold;
    text-decoration: none;
}
.separator{
    margin-top: 10px;
    margin-bottom: 10px;
}
.banner{
    margin-top: 10px;
    border-top: 1px #fff solid;
    margin-bottom: 25px;
    -moz-box-shadow: 1px 6px 20px #857b71;
    -webkit-box-shadow: 1px 6px 20px #857b71;
}
.banner_content{
    font-size: 12px;
    margin: 25px 20px 0px;
    height: 135px;    
}
.banner .left{
    float: left;
    width: 629px;
    background: url(/files/img/banner.png) repeat-x;
    height: 213px;
    border-right: 2px #fff solid;
}
.banner .right{
    float: left;
    width: 329px;
    height: 213px;
    /*border-left: 1px #fff solid;*/
}
.atras{
    display: block;
    width: 41px;
    height: 43px;
    float: left;
    background: url(/files/img/controles.png) no-repeat;
}
.atras:hover{
    background-position: 0px -43px;
}
.descrip{
    float: left;
    background: url(/files/img/controles.png) no-repeat;
    width: 248px;
    height: 43px;
    background-position: -43px 0;        
}
.descrip .text{
    color: #fff;
    font-size: 12px;
    margin: 6px 8px 5px 8px;
    text-shadow: #000 2px 2px 2px;
}
.adelante{
    float: left;
    display: block;
    background: url(/files/img/controles.png) no-repeat;
    background-position: -291px 0;
    height: 43px;
    width: 40px;    
}
.adelante:hover{
    background-position: -291px -43px;
}
.leer-mas, .mapas{
    display: inline-block;
    width: 144px;
    height: 33px;
}
.leer-mas{
    background: url(/files/img/leer-mas.png) no-repeat;
    margin-left: 20px;
}
.mapas{
    background: url(/files/img/mapas.png) no-repeat;
}
.leer-mas:hover, .mapas:hover{
    background-position: 0px -33px;
}
.big{
    width: 310px;
    height: 146px;
    float: left;
    -moz-box-shadow: 0px 5px 8px #AFAFAF;
    -webkit-box-shadow: 0px 5px 8px #AFAFAF;
    margin-bottom: 20px;
    cursor: pointer;
}
.b_info{
    float: left;
    margin-top: 20px;
    margin-left: 150px;
    font-size: 13px;
}
.b_title{
    font-size: 26px;
    font-weight: bold;
    text-shadow: #fff 1px 2px 0px;
    text-align: center;    
}
.price{    
    background: url(/files/img/button1.png) no-repeat;
    margin-right: 15px;
}
.clima{
    background: url(/files/img/button2.png) no-repeat;
    margin-right: 15px;
}
.docs{
    background: url(/files/img/button3.png) no-repeat;
}
.docs .b_info{
    margin-left: 125px;
}
.graphs{
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    margin-top: 3px;
    margin-bottom: 8px;
}
.graficos{
    background: #fff;
    -moz-box-shadow: 0px 4px 12px #857b71;
    -webkit-box-shadow: 0px 4px 12px #857b71;
    margin-bottom: 15px;
}
.graficos .selectores{
    float: left;
    width: 27%;
}
.selector{
    background: url(/files/img/selector.png) no-repeat;
    background-position: 0px -58px;
    display: block;
    width: 242px;
    height: 58px;
    text-decoration: none;
    color: #3a3a3a;
    line-height: 58px;
    padding-left: 10px;
}
.activo, .selector:hover{
    background-position: 0px 0px;
    color: #b8b8b8;
}
.graficos .grafico{
    float: left;
    width: 65%;
    margin-left: 8%;
}
#slider {
	width: 230px;


}

.paginacion{
    padding:10px;
    border:#f2f2db 1px solid;
    background:#fff url(/files/img/autor_noticia.png);
    background-repeat:repeat-x;
    background-position:bottom left;
    font-size:13px;
}

.paginacion a, .paginacion a:visited{
text-decoration:none;
font-weight:bold;
color:#4D4D4D;
}

.paginacion a:hover{
color:#000;
}
.pag_izq{
    background:url(/files/img/pag_izq.png);
    background-repeat:no-repeat;
    background-position:center left;
    padding-left: 22px;
    border-right:#BFBFBF 1px solid;
    margin-right:5px;
    padding-right: 8px;
}

.pag_der{
    background:url(/files/img/pag_der.png);
    background-repeat:no-repeat;
    background-position:center right;
    padding-right: 23px;
    border-left:#BFBFBF 1px solid;
    margin-left:5px;
    padding-left: 8px;
}

#nada {
    height:10px;
    weight:40px;
}

#nada2 {
    margin:25px;
    padding:10px;
}
