{% extends "base.html" %}

{%block extra_header%}
<script src="{{MEDIA_URL}}js/jquery.validate.js" type="text/javascript"></script>
<script src="{{MEDIA_URL}}js/jquery.metadata.js" type="text/javascript"></script>
<script type="text/javascript">
    $.metadata.setType("attr", "validate");

    $(document).ready(function() {
        $("#form1").validate();
        $("input[name='lugar']").change(function(){checkSelectos()});
    });

    function checkSelectos(){
        var cantidad = 0;
        $("input[name='lugar']").each(function(item){
            if($(this).attr('checked')){
                cantidad += 1;
            }
        });
        if(cantidad>1){
            $('#id_unidad_1').attr('checked', true);
            $('#id_unidad_0').attr('disabled', true);
        }else{
            $('#id_unidad_0').attr('disabled', false);
        }
    }
</script>
<style type="text/css">
    .block { display: block;
    }
    form.cmxform label.error {
        display: none;
        color: red;
    }
</style>
{% endblock %}
{% block menu %}  

{% endblock %}

{% block contenido %}
<br>
<div id="encabezado_contenido">PRECIOS DE PRODUCTOS</div>
<div id="contenido_full">
    <p>En esta sección usted es libre de realizar búsquedas personalizadas de los precios de productos en las zonas de control dispuestas por Bioversity en diferentes paises. Es necesario en primera instancia seleccionar el producto deseado y el año, posteriormente las zonas de las cuales se desea obtener información y finalmente en que tipo de moneda sera presentado. En el caso de seleccionar moneda nativa se usara la moneda y la unidad de medida del producto en el pais seleccionado. En caso de seleccionar moneda normalizada se hará una conversión dinámica a moneda estado unidense USD $ y a unidad de medida Kilogramos Kg </p><br>
    <div class="clean"></div>
    <div id="formarea">
        <form class="cmxform" id="form1" action"." method="POST">
              {% csrf_token %}
              <div id="form-left">
                <div class="form_label">Año</div>
                <div class="form_widget">{{form.fecha}}</div>
                <div class="form_label">Producto</div>
                <div class="form_widget" name="producto" validate="required:true" class="required">
                    {{form.producto}}
                    <label for="producto" class="error">Seleccione un producto</label>
                </div>

                <div class="clean"></div>
                <div id="zonas">ZONAS DE CONTROL</div>
                {%for pais in paises%}
                <div class="zona-pais">
                    <div class="zona-pais-nombre">{{pais.nombre|capfirst}}</div>
                    {% for zona in pais.get_zonas %}
                    <div class="checks"><input type="checkbox" id="id_lugar_{{forloop.counter}}" value="{{zona.id}}" name="lugar" validate="required:true" class="required"> <label for="id_lugar_{{forloop.counter}}">{{zona.nombre|capfirst}}</label></div>
                    {%endfor%}
                    <label for="lugar" class="error">Seleccione sus Zonas</label>
                </div>
                {%endfor%}
                <div class="clean"></div>
            </div>
            <div id="form-right">

                <div class="zona-pais" style="float:left">

                    <div class="zona-pais-nombre">Moneda</div>
                    <div class="checks">{{form.unidad}}</div>
                    {{ form.unidad.errors }}
                </div>
                <div id="mensajito-moneda">
                    La moneda nativa depende de cada pais o zona y solamente se aplica cuando solo se selecciona una zona de control
                </div>
                <div class="clean"></div>
                <input type="submit" value="Consultar" id="boton" class="filtro"/>
            </div>
            <div class="clean"></div>
        </form>
    </div>
</div>

{% endblock %}
