{% extends "base.html" %}
{%block extra_header%}
<link href="{{MEDIA_URL}}css/visualize.css" rel="stylesheet" type="text/css" media="screen" />
<link href="{{MEDIA_URL}}css/visualize-dark.css" rel="stylesheet" type="text/css" media="screen" />
<!--<link href="{{MEDIA_URL}}css/visualize-light.css" rel="stylesheet" type="text/css" media="screen" />-->
<script type="text/javascript">
$(document).ready(function (){
  $('#grafo').visualize();
  });
</script>
{% endblock %}
{% block menu %}  
{% if request.session.activa%}
<a href="/precio/grafo/productor/"> Precio al productor</a>
<a href="/precio/grafo/consumidor/"> Precio al consumidor</a>
<a href="/precio/grafo/comparativa/">Comparativa </a>
{%endif%}
{% endblock %}

{% block contenido %}
<table id="grafo">
  <caption>Precio al Productor.</caption>
  <thead>
    <tr>
      <td scope='col'>meses</td>
      <td scope='col'>meses</td>
      <td scope='col'>meses</td>
      <td scope='col'>meses</td>
      <td scope='col'>meses</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td scope='row'>Producto</td>
      <td>100</td>
      <td>200</td>
      <td>100</td>
      <td>100</td>
    </tr>
    <tr>
      <td scope='row'>LoL</td>
      <td>100</td>
      <td>200</td>
      <td>100</td>
      <td>100</td>
    </tr>

  </tbody>
</table>
{% endblock %}
