{% extends "base.html" %}
{%block extra_header%}
<script type="text/javascript" src="/files/js/highcharts.js"></script>
<script type="text/javascript" src="/files/js/exporting_patched.js"></script>
<script type='text/javascript'>
  $(document).ready(function(){
		var chart =  Highcharts.Chart({
		  chart: {
			 renderTo: 'grafohs',
			 defaultSeriesType: 'line',
			 marginRight: 130,
			 marginBottom: 25,
			 height: 360,
			 width: 950,
		  },
		  title: {
       text: "Precio al {{tipo}}",
			 x: -20 //center
		  },
		  xAxis: {
       categories: [ {%for mes in tiempos%}"{{mes}}",{%endfor%}]
		  },
		  yAxis: {
			 min: 0,
			 title: {
				text: ''
			 },
			 plotLines: [{
				value: 0,
				width: 1,
				color: '#808080'
			 }]
		  },
		  tooltip: {
			 formatter: function() {
					   return '<b>'+ this.series.name +'</b><br/>'+
				   this.x +': '+ this.y;
			 }
		  },
		  legend: {
			 layout: 'vertical',
			 align: 'right',
			 verticalAlign: 'top',
			 x: 10,
			 y: 100,
			 borderWidth: 0
		  },
     series: [
        {% for dato in filas%} {data: {{dato.valores}}, name: "{{dato.leyenda}}" }, {%endfor%}
      ]
	   });
  });  
</script>
{%endblock%}
{% block menu %}  
{% endblock %}

{% block contenido %}
<div id="contenido_full">
    <div class="controles">
            <a href="/precio/grafo/productor/" {% if tipo == 'productor'%}class="state_selected"{%endif%}>Productor</a>
            <a href="/precio/grafo/consumidor/">Consumidor</a>
    </div>
    <br>
        <div>Precios al productor</div>
    <br>
    <table class="grafo">
      <thead>
        <tr>
          <td></td>
          {%for tiempo in tiempos%}
          <th scope="col">{{tiempo}}</th>
          {%endfor%}
        </tr>
      </thead>
      <tbody>
        {% for fila in filas%}
        <tr>
          <th scope="row">{{fila.leyenda}}</th>
          {%for valor in fila.valores%}
          {%if valor%}
          <td>{{valor}}</td>
          {%else%}
          <td>0</td>
          {%endif%}
          {%endfor%}
        </tr>
        {%endfor%}
      </tbody>
    </table>

<div id="grafohs"></div>
</div>
{% endblock %}
