{%extends "base.html"%}
{%block title%}Calendario{%endblock%}
{%block extra_header%}
<script src="{{MEDIA_URL}}js/calendario/fullcalendar.min.js"></script>
<link href="{{MEDIA_URL}}css/fullcalendar.css" rel="stylesheet" type="text/css" media="screen"/>
<script type='text/javascript'>
	$(document).ready(function() {

		var date = new Date();
		var d = date.getDate();
		var m = date.getMonth();
		var y = date.getFullYear();
		m = m-1;

		$('#calendar').fullCalendar({
			minTime: '8:00',
			maxTime: '6:00pm',
			defaultView: 'month',
			dayNames: ['Domingo', 'Lunes', 'Martes', 'Miercoles', 'Jueves', 'Viernes', 'Sabado'],
			dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab'],
			monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
			monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
      contentHeight: 470,
      

			header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month,agendaWeek,agendaDay'
			},
            buttonText: {   
                today: 'Hoy',
                month: 'Mes',
                day: 'Día',
                week: 'Semana',
            },

			eventClick: function(calEvent, jsEvent, view) {
                window.location = '/eventos/evento/' + calEvent.slug;
      },
			editable: false,
			events: "/eventos/calendario/",		

		});	
	});
</script>

{%endblock%}
{%block contenido%}<br>
<div id="encabezado_contenido">Calendario</div>
    <div id="barra_eventos">
        <a href="/eventos" class="lista_boton">Ver en<br>lista</a><a href="/eventos/calendario" class="calendario_boton">Ver en <br>calendario</a>
    </div>
<div id="contenido_full">
           <div id="calendar"></div>
</div>
{%endblock %}

 
