{%extends "base.html"%}
{%block title%}Evento - {{evento.titulo}}{%endblock%}
{%block extra_header%}
{%endblock%}
{%block contenido%}
<br>
<div id="encabezado_contenido">Eventos</div>
    <div id="barra_eventos">
        <a href="/eventos" class="lista_boton">Ver en<br>lista</a><a href="/eventos/calendario" class="calendario_boton">Ver en <br>calendario</a>
    </div>
       <div id="contenido_full">
            <div id="ficha-evento">
               <h2>{{evento.titulo}}</h2>
                {%if evento.foto %}<img align="left"  style="margin-right:10px;" src="{{evento.foto.url_150x150}}"><br>{%else%}{%endif%}
               <div class="ficha-evento-elemento">
                    <b>Inicia:</b>{{evento.fecha_inicio|date:"d M Y"}}    <b>Finaliza:</b> {{evento.fecha_final|date:"d M Y"}}<br>
                </div>
                {%if evento.lugar %}
                <div class="ficha-evento-elemento">
                    <b>Lugar: </b>{{evento.lugar}}<br>
                </div>
                {%endif%}
                <div class="ficha-evento-elemento">
                    {%if evento.contenido %}{{evento.contenido|safe}}<br>{%else%}No hay información adicional{%endif%}
                </div>
                {%if evento.contacto%}
                <div class="ficha-evento-elemento">
                    <b>Contacto: </b>{{evento.contacto}}<br>
                </div>
                {%endif%}
                <div class="clean">
                   
                </div>
            </div>
       </div>
{%endblock %}

 
