{%extends "base.html"%}
{%block title%}Eventos{%endblock%}
{%block contenido%}
<br>
<div id="encabezado_contenido">Eventos</div>
    <div id="barra_eventos">
        <a href="/eventos" class="lista_boton">Ver en<br>lista</a><a href="/eventos/calendario" class="calendario_boton">Ver en <br>calendario</a>
    </div>
       <div id="contenido_full">
           {%for evento in eventos.object_list%}
           <div class="elemento_evento">
                <div class="fecha-lista">
                   {{evento.fecha_inicio|date:"d M"}}
               </div>
               <div class="titulo-evento"><a href="/eventos/evento/{{evento.slug}}/">{{evento.titulo}}</a></div>
                <div class="clean"></div>
           </div>
           {%endfor%}
           <div class="paginacion">
               <span class="pagina-links">
                   {%if eventos.has_previous%}
                   <a href="?page={{ eventos.previous_page_number }}" class="pag_izq">anterior</a>
                   {%endif%}
                   <span class="actual">
                       Página {{ eventos.number }} de {{ eventos.paginator.num_pages }}.
                   </span>
                   {%if eventos.has_next%}
                   <a href="?page={{ eventos.next_page_number }}" class="pag_der">siguiente</a>
                   {%endif%}
               </span>
           </div>
       </div>
{%endblock %}

 
