{% extends "base.html" %}
{% block extratitle %}Categorias{% endblock %}
{% block extrahead %}

{% endblock %}
{% block contenido %}
<br><br>
<span class="general_title">Foros Bioversity</span>
<br><br>
<div>
    <table cellspacing="1" width="100%">
        <tr>
            <th class="azul" colspan="2">&nbsp;Foros&nbsp;</th>
            <th class="azul" width="50">&nbsp;Temas&nbsp;</th>
            <th class="azul" width="50">&nbsp;Posts&nbsp;</th>
            <th class="azul">&nbsp;Ultimo post&nbsp;</th>
        </tr>
        {% for categoria in categorias %}
        <tr>
            <td class="forum-cat" colspan="5"><a href="">{{categoria.titulo|title}}</a></td>
        </tr>
        {% for foro in categoria.forum_set.all %}
        <tr>
            <td class="row1" width="50" align="center"><img src="/files/img/forum/post.png" alt="{{foro.titulo}}" title="{{foro.titulo}}" /></td>
            <td class="row1" width="100%">
                <div style="margin-left: 10px;">
                    <a class="forumlink" href="{{foro.slug}}/">{{foro.titulo}}</a>
                    <p class="forumdesc">{{foro.descripcion|safe}}</p>
                </div>
                <!--<p class="forumdesc"><strong>Subforum: </strong> <a href="./viewforum.php?f=9&amp;sid=369664c73fb29c30b7ab2d1cceda298f" class="subforum read" title="No new posts">Announcements Discussions</a></p>-->
            </td>
            <td class="row2" align="center"><p class="topicdetails">{{foro.thread_set.all.count}}</p></td>
            <td class="row2" align="center"><p class="topicdetails">{{foro.post_set.all.count}}</p></td>
            <td class="row1 last-post" >
                <p class="topicdetailsx" style="white-space: nowrap;">Ultimo mensaje por: 
                    <a href="">{{foro.forum_latest_post.author}}</a>
                </p>
                <p class="topicdetailsx">en
                    <a href="{{foro.forum_latest_post.forum.slug}}/{{foro.forum_latest_post.thread.slug}}">
                        {{foro.forum_latest_post.thread.titulo}}
                    </a>
                </p>
                <p class="topicdetailsx" style="white-space: nowrap;">el {{foro.forum_latest_post.time|date:"M j, Y f a"}}</p>
            </td>
        </tr>
        {% endfor %}
        {% endfor %}
    </table>
    <table cellspacing="1" width="100%" style="margin-top: 20px;">
        <tr>
            <th colspan="5" style="text-align: left;">&nbsp;Estad&iacute;sticas&nbsp;</th>
        </tr>
        <tr>
            <td class="row1" width="50" align="center"><img src="/files/img/forum/stats.png" alt="No new posts" title="No new posts" /></td>
            <td class="row1" width="100%" collspan="4">
                <div style="margin-left: 10px;">
                    <p class="forumdesc">Total Post: <span style="font-weight: bold; color: #069;">{{total_post}}</span> | Total de Temas: <span style="font-weight: bold; color: #069;">{{total_topics}}</span> | Total de miembros: <span style="font-weight: bold; color: #069;">{{total_users}}</span></p>
                </div>
                <!--<p class="forumdesc"><strong>Subforum: </strong> <a href="./viewforum.php?f=9&amp;sid=369664c73fb29c30b7ab2d1cceda298f" class="subforum read" title="No new posts">Announcements Discussions</a></p>-->
            </td>
        </tr>
    </table>
</div>
{% endblock %}

