{% extends "base.html" %}
{% block extratitle %} Nuevo Tema{% endblock %}
{% block extra_header %}
<script type="text/javascript" src="/files/js/tiny_mce/tiny_mce.js"></script>
<script type="text/javascript">
    tinyMCE.init({
        mode: "textareas",
        theme: "advanced",
        theme_advanced_buttons1: "bold,italic,underline, strikethrough, separator,justifyleft, justifycenter,justifyright,  justifyfull, separator",
        theme_advanced_buttons2: "",
        theme_advanced_buttons3: "",
        theme_advanced_buttons4: "",
        theme_advanced_toolbar_location : "top",
        theme_advanced_toolbar_align : "left"
    }); 
</script>

<style type="text/css">
    label{
        font-size: 12px;
    }

    input#id_titulo{
        border: 1px solid #BFBFBF;
        padding: 2px;
        width: 250px;
    }

    textarea{
        width: 100%;
        height: 200px;
    }
    .submit{
        margin-left: 15px;
    }
</style>
{% endblock %}
{% block contenido %}
<div class="breadcrumbs">
    <a href="../../">Foro &raquo; </a> {{forum.titulo|title}}
</div>
<div class="clean"></div>
<div>
    <br>
    <div class="respuesta">Nuevo tema en: <span class="to">{{forum.titulo|title}}</span></div><br>
    <form action="." method="POST" class="topic-form" id="topic-form">{% csrf_token %}
        <table cellspacing="1" width="100%" style="background: #f2f3e6; padding: 10px;">
            {{form.as_table}}
        </table><br>
        <input type="submit" class="submit" value="Crear"> <button onclick="window.location.href='/foro/{{forum.slug}}'; return false;">Cancelar</button>
    </form>
</div>
{% endblock %}

