{% extends "base.html" %}
{% block extratitle %} Responder{% endblock %}
{% block extra_header %}
<script type="text/javascript" src="/files/js/tiny_mce/tiny_mce.js"></script>
<script type="text/javascript">    
    tinyMCE.init({
        mode : "textareas",
        theme : "advanced",
        theme_advanced_buttons1 : "bold,italic,underline, strikethrough, separator,justifyleft, justifycenter,justifyright,  justifyfull, separator",
        theme_advanced_buttons2: "",
        theme_advanced_buttons3: "",
        theme_advanced_buttons4: "",
        theme_advanced_toolbar_location : "top",
        theme_advanced_toolbar_align : "left"
    });    
</script>
<style type="text/css">
    label{
        font-size: 12px;
    }

    input#id_titulo{
        border: 1px solid #BFBFBF;
        padding: 2px;
        width: 250px;
    }

    textarea{
        width: 99.5%;
        height: 150px;        
    }

    .submit{
        margin-left: 15px;
    }
</style>
{% endblock %}
{% block contenido %}
<div class="breadcrumbs">
    <a href="../../../">Foro &raquo; </a><a href="../../">{{thread.forum|title}} &raquo;</a> {{thread.titulo|title}}
</div>
<div class="clean"></div>
<div>
    <br>
    <div class="respuesta">Respuesta a: <span class="to">{{thread.titulo|title}}</span></div><br>
    <form action="." method="POST" class="topic-form" id="topic-form">{% csrf_token %}
        <div>{{form.body}}</div>
        <br>
        <input type="submit" class="submit" value="Responder"> <button onclick="javascript:history.back(1); return false;">Cancelar</button>
    </form>
</div>
<div>
    <br>
    <table cellspacing="1" width="100%">
        <tr>
            <th width="150px" class="azul">&nbsp;Autor&nbsp;</th>
            <th class="azul">&nbsp;Mensaje original&nbsp;</th>
        </tr>
        <tr>
            <td class="row1" align="center"><a href="."><span style="font-size: 14px;"><b>{{thread.author.username}}</b></span></a></td>
            <td class="row1"><b>Titulo: </b>{{thread.titulo|title}} <div style="float: right;"><b>Posteado: </b>{{thread.time|date:"M j, Y f a"}}</div></td>
        </tr>
        <tr>
            <td class="row1">
                <div style="font-size: 10px;">
                    <center><img class="forum-avatar" src="/files/img/forum/user.png" alt=""></center>
                    <p><b>Joined: </b> {{thread.author.date_joined|date:"M j, Y f a"}}<p>
                        <b>Post: </b>{{thread.author.post_set.count}}<br><br>
                        <b style="color: #069;">{{thread.author.get_full_name}}</b>
                </div>
            </td>
            <td class="row1" style="vertical-align: top;"><div class="postbody">{{thread.body|safe}}</div>
                <br clear= all;>
                <br>
            </td>
        </tr>
    </table>
    <br>
    {% for post in thread.post_set.all %}
    <table cellspacing="1" width="100%">
        <tr>
            <th width="150px" class="row2" style="padding: 7px 5px;"><a href="."><span style="font-size: 12px;"><b>{{post.author.username}}</b></span></a></th>
            <th class="row2"><div style="float: left;"><b>Re: </b>{{thread.titulo|title}}</div><div style="float: right;"><b>Posteado: </b>{{post.time|date:"M j, Y f a"}}</div></th>
        </tr>
        <tr>
            <td class="row1" style="vertical-align: top;">
                <div style="font-size: 10px;">
                    <center><img class="forum-avatar" src="/files/img/forum/user.png" alt=""></center>
                    <p><b>Joined: </b> {{post.author.date_joined|date:"M j, Y f a"}}<p>
                        <b>Post: </b>{{post.author.post_set.count}}<br><br>
                        <b style="color: #069;">{{post.author.get_full_name}}</b>
                </div>
            </td>
            <td class="row1" style="vertical-align: top;"><div class="postbody">{{post.body|safe}}</div>
                <br clear= all;>
                <br>
            </td>
        </tr>
    </table>
    <br>
    {% endfor %}
    <br>
</div>
{% endblock %}

