{% extends "base.html" %}
{%load unslugify %}
{%block extra_header%}
<link href="{{MEDIA_URL}}css/visualize.css" rel="stylesheet" type="text/css" media="screen" />
<link href="{{MEDIA_URL}}css/visualize-light.css" rel="stylesheet" type="text/css" media="screen" />
<script type="text/javascript">
$(document).ready(function (){
  $('#grafo').visualize({width:850,height:130,barMargin:25});
  });
</script>
{% endblock %}
{% block menu %}  
{% if request.session.activa%}
<a href="/humedad/humedad/"> Humedad</a>

{%endif%}
{% endblock %}

{% block contenido %}
<table id="grafo">
	<caption>Húmedad</caption>
	<thead>
		<tr>
			<td></td>
			<th scope="col">Humedad</th>
		</tr>
	</thead>
	<tbody>
      {%for valor in tabla%}	
    <tr>            
         <th scope="row">{{valor.mes}}</th>
         {%for a in valor.humedad%}
         <td>{{a}}</td>
         {%endfor%}
    </tr>
    {%endfor%}
   </tbody>
</table>
{% endblock %}
