{% extends "base.html" %}

{%block extra_header%}
<script>
        $(document).ready(function() {
        var pais = document.getElementById("id_pais");
        var zona = document.getElementById("id_lugar");
       
        $("#id_pais").change(function () {
            var index = pais.options.selectedIndex;
            var id = pais.options[index].value;
            $.getJSON("/bioversity/ajax/pais/" + id +"/",
            function(data){
                zona.options.length = 0;
                for(i=0; i< data.length; i++){
                    zona.options[i] = new Option(data[i][1], data[i][0]);
                }
            });
        });
    });
</script>
{% endblock %}
{% block menu %}  

{% endblock %}

{% block contenido %}
<form action"." method="POST">
    {% csrf_token %}
<div id="formulario_tabla" >
    <div class="form_label"><b>{{form.fecha.label}}</b></div>
    <div class="form_widget">{{form.fecha}}</div>
    <div class="form_label"><b>{{form.pais.label}}</b></div>
    <div class="form_widget">{{form.pais}}</div>
    <div class="form_label"><b>{{form.lugar.label}}</b></div>
    <div class="form_widget">{{form.lugar}}</div>
    <div class="form_label"><b>{{form.tipo_grafo.label}}</b></div>
    <div class="form_widget">{{form.tipo_grafo}}</div>
</div>

  <input type="submit" value="Consultar" id="boton" class="filtro"/>
</form>
{{form.errors}}
{% if activa%}
<h1>Session activa</h1>
<a href="/humedad/humedad"> Humedad</a>

{%endif%}
{% endblock %}
