{% extends "base.html" %}

{% block contenido %}

{% for noticia in noticias.object_list %}
<tr>
    <td>{{noticia.fecha}}</td>
    <td><a href="/noticias/ver/{{noticia.id}}">{{noticia.titulo}}</a></td>
    <td>{{noticia.texto|truncatewords:5}}</td>
    {%if noticia.adjunto %}
     {% for galeria in  noticia.adjunto.all %}
        <td> <img src="{{galeria.adjunto.url_250x250}}"> </td>
     {% endfor %}
     {%endif%}
</tr>
<br>
{% endfor %}

<div class="paginacion">
                <span class="pagina-links">
                {% if noticias.has_previous %}
                <a href="?page={{ noticias.previous_page_number }}" class="pag_izq">Anterior</a>
                {% endif %}

                <span class="actual">
                    Página {{ noticias.number }} de {{ noticias.paginator.num_pages }}.
                </span>

                {% if noticias.has_next %}
                    <a href="?page={{ noticias.next_page_number }}" class="pag_der">Siguiente</a>
                {% endif %}
                </span>
            </div>

{% endblock %}


